* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.3;
}

.conteiner {
    width: 600px;
    background: #f5fffb;
    margin: 0 auto;
    text-align: center;
    padding: 40px 0;
}

form {
	width: 250px;
	margin: 0 auto;
}

.field {
    display: block;
    width: 100%;
    padding: 7px;
	margin: 15px 0; 
	border: 1px solid lightsteelblue;
	border-radius: 4px;
}

h5 {
    text-align: left;
    color: gray;
    padding-bottom: 10px;
}

h3 {
    padding-bottom: 7px;
}

.birthday {
    display: inline-block;
    width: 80px;
    padding: 6px;
	border: 1px solid lightsteelblue;
    border-radius: 4px;
}

.checkin {
    background: green;
    color: white; 
    font-weight: bold;
}

.facebook {
    background: rgb(38, 38, 143);
    color: white;
    font-weight: bold;
}

.border {
    overflow: hidden;
    color: grey;
}

.border::before, .border::after{
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 30px;
    height: 1px;
    background-color: lightsteelblue;
    position: relative;
}

.border::before {
    margin-left: -100px;
    left: -5px;
}

.border::after {
    margin-right: -100px;
    right: -5px;
}

.select-wrapper select{
	-webkit-appearance: none;
}

.select-wrapper {
    position: relative;
    display: inline-block;
}

.select-wrapper::after {
    content: url("img/number.png");
    position: absolute;
    right: 8px;
    top: 4px;
}

@media (max-width: 320px) {
    .conteiner {
        width: 100%;
        padding-top: 20px;
    }
}